<ul>
  <% @artists.each do |artist| %>
    <li>
      <strong><%= link_to artist.name, artist %></strong><br>
      <%= artist.midi_to_named(artist.range_low) %> to <%= artist.midi_to_named(artist.range_high) %>
      <br> <br>
    </li>
  <% end %>
</ul>
