<div class="container">
  <div class="jumbotron">
    <h1>Don't Stop! Believin'!</h1>
    <p>Let Karao-ke-tsu help you pick out your next sweet tune this weekend.</p>
    <p>Start by choosing your favorite artist to sing along with, what you're in the mood for, and your range (if you know it). Add some black magic, and suddenly you have a killer song to rock out on.</p>
    <p>
      <a class="btn btn-lg btn-success" role="button">Cowabungaaaaaa</a>
    </p>
  </div>
</div> <!-- /container -->
